<p>get-api works!</p>

<h2>Users from JSONPlaceholder</h2>

<button (click)="getUsers()">Reload Users</button>

@if (userList.length === 0) {
  <p>Loading users...</p>
} @else {
  <table border="1" cellpadding="6" style="margin-top: 1rem; border-collapse: collapse; width: 100%;">
    <thead style="background-color: #f5f5f5;">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>City</th>
      <th>Company</th>
    </tr>
    </thead>
    <tbody>
      @for (user of userList; track user.id) {
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address?.city }}</td>
          <td>{{ user.company?.name }}</td>
        </tr>
      }
    </tbody>
  </table>
}
