<h2>Add Student (Reactive Form + Signals)</h2>

<form [formGroup]="studentForm" (ngSubmit)="submit()">
  <div>
    <label>Name</label><br/>
    <input formControlName="name"/>

    @if (name?.touched && name?.invalid) {
      <small>
        Name required (min 3 chars)
      </small>
    }
  </div>

  <div style="margin-top: 8px;">
    <label>Email</label><br/>
    <input formControlName="email"/>

    @if (email?.touched && email?.invalid) {
      <small>
        Valid email required
      </small>
    }
  </div>

  <button type="submit" style="margin-top: 10px;">Add</button>
</form>

<hr/>

<h3>Student List</h3>

@if (students().length === 0) {
  <p>No students yet.</p>
} @else {
  <ul>
    @for (s of students(); track s.id) {
      <li>
        {{ s.id }} - {{ s.name }} ({{ s.email }})
        <button
          (click)="deleteStudent(s.id)"
          style="margin-left: 8px;"
        >
          Delete
        </button>
      </li>
    }
  </ul>
}
