<form [formGroup]="studentForm" (ngSubmit)="submit()">

  <input type="text" formControlName="name" placeholder="Name" />

  @if (name?.touched && name?.invalid) {
    <div>
      @if (name?.hasError('required')) {
        <div class="error">Name is required</div>
      }
      @if (name?.hasError('minlength')) {
        <div class="error">Name must be at least 3 characters</div>
      }
    </div>
  }

  <input type="email" formControlName="email" placeholder="Email" />

  @if (email?.touched && email?.invalid) {
    <div>
      @if (email?.hasError('required')) {
        <div class="error">Email is required</div>
      }
      @if (email?.hasError('email')) {
        <div class="error">Email format is not valid</div>
      }
    </div>
  }

  <button type="submit" [disabled]="studentForm.invalid">
    Save
  </button>

</form>
